:root{
    --bgc:rgb(214, 228, 255);
}

body{
    background-image: url(room2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
    margin: 0px;
    padding: 0px;
    background-color:var(--bgc);
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main{
    margin-top: 50px;
    box-sizing: border-box;
    padding: 0px;
    height: 700px;
    width: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  background: rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}




p{
        color: aliceblue;
}
#EnterCity{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

#tempretureP{
    position: absolute;
    transform: translateY(-100px);
    z-index: 1;
    color:#123354;
    font-size: 300px;
    padding: 0px;
    margin: 0px;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
#displayParent{
 display: flex;
    justify-content: center;
    align-items: center;
}
#display{
      border-radius: 20px;
    border: 2px solid #ffffff ;
    background-image: url(room2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;

    flex-direction: column;
}
#chara{
    position: relative;
    z-index: 2;
     width: fit-content;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: min-content;
column-gap:0px;
}
#chara img{
 width: 200px;
 height: auto;
 padding: 0px;
 margin: 0px;
 image-rendering: pixelated;
}

#charanum{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1000px;
}

#facep{
    transform: translateY(14px);
}
#hat{
    display: none;
    position: absolute;
    z-index: 1;
}
#eye,#hairS,#hairC,#skinT,#skinB,#shirt{
    display: block;
    position: absolute;
}
#skinT{
    z-index: 0;
}
#hairS{
    width: 100%;
    height: 100%;
    mask-image: url(chara/hair/hair00.png);
    mask-repeat: no-repeat;
    mask-size: contain;
     image-rendering: pixelated;
    z-index: 100;
}
#skinT {
    padding: 0px;
    margin: 0px;
    z-index: 0;
}
#tshirt,#face{
    opacity: 0;
}


.loader {
  width: 150px;
  padding: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d4d4d4;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


input{
    position: relative;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: #8b8b8b solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
    background:none;
}

input:focus{
    outline: none;

}

.placeholder{
    transition: all 0.1s ease-in-out;
    position: absolute;
    z-index: 5;
    top: -5px;
    left: 10px;
    font-size: 14px;
    color: #3d6e3d;
    padding: 0 5px;
}

.placeholderParent{
    position: relative;
    margin-top: 50px;
}

#infoDisplay{
        padding-top: 100px;
    box-sizing: border-box;
    height: 100%;
    width: 300px;
}

.dataItems{
    display: flex;
    justify-content: start;
    align-items: center;
}
.dataItems p{
        font-size: 20px;
        font-weight: 600;
        line-break: none;
    color: #000000;
}
.dataItems img{
    aspect-ratio: 1/1;
    width: 50px;
    fill: #3d6e3d;
}